@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* reset css */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* styles */

.navbar{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    padding: 1rem;
    background-color: #011619;
    color: #FFF;
    height: 4rem;
}

.nav-r{
    display: flex;
    gap: 1rem;    
}

.nav-link{
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.nav-title{
    font-size: 2rem;
    font-weight: 800;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4rem);
    padding: 2rem;
    background-color: #011619;
}

.main-l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: 800;
    color: #FFF;
}

.the{
    font-family: 'Indie Flower', cursive;
}

.fh{
    font-weight: 600;
}

.main-r{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image{
    max-width: 60%;
    height: auto;
    border-radius: 50px;
    filter: drop-shadow(0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.1));
}

/* menu page style*/

.menuTab{
min-height: calc(100vh - 4rem);
background-color: #011619;
}

.menu-heading{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 4rem;
    font-weight: 600;
    color: #FFF;
}

